.body{
    background-color: #d2d2c1;
    font: arial 16px;
}

#principal{
    width: 900px;
    margin: 0 auto;
}

#principal #cabecalho img{
    width: 900px;
}


#principal #cabecalho{
    text-align: center;
    padding: 5px 0;
    background-color: burlywood;
}

