body{
    background-color: #d2d2c1;
    font: 16px Arial;
}

#principal #cabecalho img{
    width: 900px;
    
}

#principal{
    width: 900px;
    margin: 0 auto;
}

#principal #cabecalho{
    text-align: center;
    padding: 5px 0;
    background-color: burlywood;
}

.menu a{
    text-decoration: none;
    color: #4b556a;
    font-size: medium;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
}

.menu :hover{
    color: white;
}